
.input {
  padding: .75em 1.5em;
  display: block;
}




.btn {
  padding: .75em 1.5em;
  border: none;
}

.btn-blue {
  background-color: #0866ff;
  color: white;
}

.btn-green {
  background-color: #42b72a;
  color: white;
}


.error {
  color: red;
}